<h1>Productos</h1>
<table>
  <thead>
    <tr>
      <th>Título</th>
      <th>Descripción</th>
      <th>Precio</th>
      <th>Categoría</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {{#each products}}
    <tr>
      <td>{{this.title}}</td>
      <td>{{this.description}}</td>
      <td>${{this.price}}</td>
      <td>{{this.category}}</td>
      <td>
        <a href="/products/{{this.id}}" class="btn btn-info">Ver detalles</a>
        <button class="btn btn-success add-to-cart" data-id="{{this.id}}">Agregar al carrito</button>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

<div>
  {{#if hasPrevPage}}
  <a href="?page={{prevPage}}&limit={{limit}}" class="btn btn-primary">Anterior</a>
  {{/if}}

  {{#if hasNextPage}}
  <a href="?page={{nextPage}}&limit={{limit}}" class="btn btn-primary">Siguiente</a>
  {{/if}}
</div>

<style>
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        border: 1px solid #ccc;
        padding: 10px;
        text-align: left;
    }

    th {
        background-color: #f4f4f4;
        font-weight: bold;
    }

    tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    tr:hover {
        background-color: #eaeaea;
    }
</style> 

<script src="/socket.io/socket.io.js"></script>
<script src="/js/main.js"></script>