<h1>Lista de productos</h2>
<hr>
{{#if producto}}
        <div>
            <h2>{{producto.title}}</h2>
            <p><strong>Descripción:</strong> {{producto.description}}</p>
            <p><strong>Precio:</strong> ${{producto.price}}</p>
            <p><strong>Código:</strong> {{producto.code}}</p>
            <p><strong>Stock:</strong> {{producto.stock}}</p>
        </div>
{{/if}}

<script src="/socket.io/socket.io.js"></script>
   <script>
       const socket = io()

       socket.on("updateProducts", (product) => {
           if (product.id) {
               const newRow = document.createElement("tr");
               newRow.id = `product-${product.id}`
               newRow.innerHTML = `
                   <td>${product.id}</td>
                   <td>${product.title}</td>
                   <td>${product.description}</td>
                   <td>$${product.price}</td>
                   <td>${product.status}</td>
                   <td>${product.code}</td>
                   <td>${product.stock}</td>
                   <td>${product.category}</td>`
               document.querySelector("#productTable tbody").appendChild(newRow)
           } else {
               
               const row = document.getElementById(`product-${product.id}`)
               if (row) {
                   row.remove()
               }
           }
       })

       function deleteProduct(productId) {
           socket.emit("deleteProduct", productId)
        }
   </script>

